.tarjeta{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-self:center !important;
    margin-left: 0 !important;
}
<<<<<<< HEAD
.producto2{
=======

.producto{
>>>>>>> ab62021db938d3fe5a65669783184f3f2a91ff23
    display:flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    margin:100px !important;
}

.imagen{
    object-fit: contain !important;
    border: 1px solid black;
}

h3{
    color:#171714;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #9b8963;
}

p{
    color:black;
}

.container2{
    margin-top: 20px;
}

.card2{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 90% !important;
    align-items: unset !important;
    margin-left: 0 !important;
}

<<<<<<< HEAD
.body-tarjeta{
=======
.card-bodyb{
>>>>>>> ab62021db938d3fe5a65669783184f3f2a91ff23
    background-color: #e6e6e6;
    display:flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.body-cabecera{
    background-color:#015386 !important;
    opacity: 0.98;
    color: #e6e6e6;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

.pie{
    background-color: #0074b1 !important;
}

.botonRojo{
    background-color: #d30208 !important;
    margin-left:10px !important;
    width: 100% !important;
    text-transform: uppercase;
}
.botonCant{
    font-weight: 400;
}
.titulo{
    color: #015386;
    text-shadow: 0.5px 0.5px 0.5px black; 
    text-transform: uppercase;
}

.body-texto{
    font-weight: 800;
}
