.card{
    width: 65%;
    height: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    align-self:center;
}
.producto{
    display:flex !important;
    justify-content: center;
    margin:100px;
}

.imagen{
    object-fit: contain !important;
    border: 1px solid black;
}

h3{
    color:black;
    background-color: red;
}

p{
    color:black;
    background-color:red;
}
