.producto__tarjeta{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-self:center !important;
    margin-left: 0 !important;
}
.producto__marco{
    display:flex !important;
    flex-direction: row !important;
    margin:100px !important;
}

.imagen{
    object-fit: contain !important;
    border: 1px solid black;
    height: 100%;
}

h3{
    color:#171714;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #9b8963;
}

p{
    color:black;
}

.container2{
    margin-top: 20px;
}

.card3{
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 98% !important;
    align-items: unset !important;
    margin-left: 0 !important;
}

.body-tarjeta{
    background-color: #e6e6e6;
    display:flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    width: 100% !important;
}

.body-cabecera{
    background-color:#015386 !important;
    opacity: 0.98;
    color: #e6e6e6;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
}

.pie{
    background-color: #0074b1 !important;
    display:flex;
}

.botonRojo{
    background-color: #d30208 !important;
    margin-left:10px !important;
    width: 100% !important;
    text-transform: uppercase;
}
.botonCant{
    font-weight: 400;
}
.titulo{
    color: #015386;
    text-shadow: 0.5px 0.5px 0.5px black; 
    text-transform: uppercase;
}

.body-texto{
    font-weight: 800;
}

.stock-tarjeta{
    padding-left: 15px;
}

.body-precio{
    color: #e6e6e6;
    font-weight: 800 !important;
    font-size: 30px;
}

.body-descripcion{
    background-color: #0074b1;
    height: 70.5vh;
    padding: 10px;
    text-transform: capitalize;
}

.texto-descripcion{
    color: #e6e6e6;
}