@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.container-fluid{
  padding: 0 !important;
}
.navbar-custom{
  background-color: #015386;
}

.carrito{
  margin-left: 20px;
}
.button:hover{
  background-color:red;
}
.usuario{
  margin-left: 15px;
}