@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.container-fluid {
  padding: 0 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 65vw;
}
.ui-css {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.navbar-custom {
  background-color: #015386;
}

.carrito {
  margin-bottom: 8px;
  margin-left: 20px;
  font-size: x-large;
  color: #e6e6e6;
}
#basic-nav-dropdown {
  font-size: x-large;
  color: #e6e6e6;
}
#basic-nav-dropdown:hover {
  color: #d3d3d3;
}
.carrito:hover {
  color: #d3d3d3;
}
.button:hover {
  background-color: red;
}
.usuario {
  margin-left: 15px;
}
.nav-Bar-css {
  display: flex;
  background-color: #015386;
  width: 99.1vw !important;
}
.form-inline {
  flex-direction: none !important;
  flex-wrap: nowrap !important;
  align-items: flex-end !important;
  margin-bottom: 20px;
}
