.SearchInput {
  width: 150%px;
  background: #374151;
  border-radius: 3px;
  box-shadow: 0 0px 10px 0 rgb(0, 0, 0, 0.4);
  align-items: center;
  top: 55px;
}

.UserBtn {
  background: #617cc7;
  border-radius: 3px;
  border: 4px solid #617cc7;
  color: white;
  margin: 0 5px 0 10px;
  justify-content: center;
  align-items: center;
}

.CartBtn {
  background: #d53467;
  border-radius: 4px;
  border: 4px solid #d53467;
  color: white;
  justify-content: center;
  align-items: center;
}
