.footer-css-full {
  align-self: flex-end;
  margin: 0 !important;
}

.container-footer-css {
  background-color: #015386;
  padding: 0 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;

  place-self: flex-end;
}

.texto {
  color: white;
}

.iconos {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.as {
  display: flex;
  margin: 30px;
}
