.codigo-crud{width: 280px;}
.sub-header,.encabezado{background-color:#e3e4e5;}
.fas{cursor: pointer;}
button:focus{outline: none;}
button{transition: .4s all;}
button:active{transform:scale(.98);}
input:focus{outline: none;}
@media(max-width:768px){.codigo-crud input{width: 120px;}}
.modal {transition: opacity 0.25s ease;}
.modal-active {overflow-x: hidden;overflow-y: visible !important;}
