*{box-sizing: border-box;}
body{font-family:  Arial, sans-serif;}
.btn-nuevo:focus,.btn-buscar:focus,input:focus,textarea:focus,.btn-gproducto:focus,select:focus{outline: none;}
.total{
    width: 70%;
    margin:50px auto;
    padding:30px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
} 
.general{position: relative;}
.encabezado{
    border-radius: 4px;
    background-color:#015386;
}
.grupo-header>input{
    border-radius: 2px;
    border: none;
    padding: 2px 0;
    padding-left: 8px;
    color: rgba(0, 0, 0, .7);
}
.titulos{
    border-radius: 3px;
    background-color: #d30208;
}
.productos{border-radius: 3px;border: 1px solid #ccc;  }

/* -------------BOTON AGREGAR PRODUCTO---------- */
.btn-nuevo,.btn-buscar{
    border: none;
    transition: .4s all;
    background-color: #d30208;
    border-radius: 4px;
    padding: 4px 14px;
}
.btn-nuevo:active,.btn-buscar:active,.btn-gproducto:active{transform: scale(.98);}
/* -------------ICONOS---------- */
.fas{cursor: pointer;transition: .4s all;}
.fa-plus{
 border-radius: 100%;
 color:#d30208;
 padding: 2px;
}
.fa-trash{background-color:#d30208;border-radius: 2px;}
.fa-pencil-alt{background-color:#015386;border-radius: 2px;}
.fa-pencil-alt:hover,.fa-trash:hover{opacity: .8;}
.fa-pencil-alt:active,.fa-trash:active{transform: scale(.95);}


/* -------------FORMULARIO PRODUCTO---------- */

.formulario-producto{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    bottom: 120px;
    z-index: 100;
    background: #fff;
    transition: .4s all;
    display: none;
}
.activo{display: block;}
#cerrar{cursor: pointer;}
.formulario-producto>input, .formulario-producto>textarea,select{
    border: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-bottom: 8px;
    font-size: 15px;
}
.formulario-producto>select{
    padding: 5px 8px;
    cursor: pointer;
}
.formulario-producto>textarea{
    resize: none;
    max-height: 60px;
    min-height: 60px;
}
.formulario-producto>textarea::-webkit-scrollbar{display: none;}
.formulario-producto>.btn-gproducto{
    width: 140px;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 3px;
    transition: .4s all;
    border:1px solid  #fff;
    background-color:#015386;
}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
.error-producto{
    background-color: #d30208;
    border-radius: 3px;
    padding: 2px;
}

/* -------------MEDIAQUERIES---------- */
@media(max-width:768px){
    .titulo-lista{font-size: 20px;}
    .btn-nuevo{font-size: 14px;padding: 4px 10px;}
    .btn-buscar{font-size: 14px;}
    .fa-search{font-size: 12px;}
    input{
        width: 110px;
        padding: 2 8px;
        font-size: 12px;
        height: 22px;
    }
    .titulo-pro,.grupo-header>input,.productos,.fas,.titulos{font-size: 14px;}
    .general{border: none;}
}



*{box-sizing: border-box;}
body{font-family:  Arial, sans-serif;}
.btn-nuevo:focus,.btn-buscar:focus,input:focus,textarea:focus,.btn-gproducto:focus,select:focus{outline: none;}
 .total{
    width: 70%;
    margin:50px auto;
    padding:30px 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
} 
.general{position: relative;}
.encabezado{
    border-radius: 4px;
    background-color:#015386;
}
.grupo-header>input{
    border-radius: 2px;
    border: none;
    padding: 2px 0;
    padding-left: 8px;
    color: rgba(0, 0, 0, .7);
}
.titulos{
    border-radius: 3px;
    background-color: #d30208;
}
.productos{border-radius: 3px;border: 1px solid #ccc;  }
.productos small{
    background-color: #015386;
    border-radius: 2px;
    padding: 2px 0;
    color: #fff;
    margin-bottom: 2px;
    width: 70px;
}
/* -------------BOTON AGREGAR PRODUCTO---------- */
.btn-nuevo,.btn-buscar{
    border: none;
    transition: .4s all;
    background-color: #d30208;
    border-radius: 4px;
    padding: 4px 14px;
}
.btn-nuevo:active,.btn-buscar:active,.btn-gproducto:active,.cat-btn:active{transform: scale(.98);}
/* -------------ICONOS---------- */
.fas{cursor: pointer;transition: .4s all;}
.fa-plus{
 border-radius: 100%;
 color:#d30208;
 padding: 2px;
}
.fa-trash{background-color:#d30208;border-radius: 2px;}
.fa-pencil-alt{background-color:#015386;border-radius: 2px;}
.fa-pencil-alt:hover,.fa-trash:hover{opacity: .8;}
.fa-pencil-alt:active,.fa-trash:active{transform: scale(.95);}

/* -------------FORMULARIO PRODUCTO---------- */

.formulario-producto{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    bottom: 120px;
    z-index: 100;
    background: #fff;
    transition: .4s all;
}
.activo{display: block;}
#cerrar{cursor: pointer;}
.formulario-producto>input, .formulario-producto>textarea,select{
    border: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-bottom: 8px;
    font-size: 15px;
}
.formulario-producto>select{
    padding: 5px 8px;
    cursor: pointer;
}
.formulario-producto>textarea{
    resize: none;
    max-height: 60px;
    min-height: 60px;
}
.formulario-producto>textarea::-webkit-scrollbar{display: none;}
.formulario-producto>.btn-gproducto{
    width: 140px;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 3px;
    transition: .4s all;
    border:1px solid  #fff;
    background-color:#015386;
}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
.error-producto{
    background-color: #d30208;
    border-radius: 3px;
    padding: 2px;
}

/* CATEGORIAS */
.categorias{
    padding: 4px 8px;
    border-radius: 4px;
}
.categorias>.cat-btn{
    background-color:#015386;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: .4s all;
}

/* -------------MEDIAQUERIES---------- */
@media(max-width:768px){
    .titulo-lista{font-size: 20px;}
    .btn-nuevo{font-size: 14px;padding: 4px 10px;}
    .btn-buscar{font-size: 14px;}
    .fa-search{font-size: 12px;}
    input{
        width: 110px;
        padding: 2 8px;
        font-size: 12px;
        height: 22px;
    }
    .titulo-pro,.grupo-header>input,.productos,.fas,.titulos{font-size: 14px;}
    .general{border: none;}
    .total{padding: 0;border: none;width: 94%;}
}


