
.formulario-registro{
    width: 400px;
    margin: auto;
    border: 1px solid #dad9d9;
    padding: 20px ;
    border-radius: 4px;
    background-color: #fff;
}
.formulario-registro>.mensaje-bienvenida>h2{
    font-weight: normal;
    font-size: 38px;
}
.formulario-registro>.mensaje-bienvenida>p>span{
    color: #015386;
    cursor: pointer;
}
.formulario-registro>.grupo-formulario{
    position: relative;
    width: 95%;
    margin: 28px auto;
}
.formulario-registro>.grupo-formulario>.fas{
    position: absolute;
    top: 2px;
    left: -12px;
    color: #015386;
}

.formulario-registro>.grupo-formulario>input{
    width: 95%;
    text-align: start;
     border: none;
    border-bottom: 1px solid #ccc;
    z-index: 100;
     transition: .1s all;
    
}
.formulario-registro>.grupo-formulario>.etiqueta{
   position:absolute;
   top: 0px;
   left: 8px;
   transition: .4s all;
   font-size: 14px;
}

.formulario-registro>.grupo-formulario>input:focus +label,
.formulario-registro>.grupo-formulario>input:valid +label{
    top: -24px;
    padding-left: 0;
    font-size: 12px;
    color: #015386;
}
.formulario-registro>.grupo-formulario>input:valid +i{
    color: red;
}
.formulario-registro>.grupo-formulario>input:hover {
    border-bottom: 1px solid #015386;
}
.formulario-registro>button{
    width: 95%;
    margin: auto;
    padding: 10px;
    border: none;
    background-color: #d30208;
    color: #fff;
    opacity: .8;
    transition: .4s all;
    border-radius: 4px;
}
.formulario-registro>button:hover{
    opacity: 1;
}
.formulario-registro>button:focus{
    outline: none;
}
.formulario-registro>button:active{
    transform: scale(.98);
}




