.contenedor-lista-ordenes {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.lista-ordenes-contenedor {
  margin-top: 5px;
}
.lista-ordenes-contenedor-s {
  margin-top: 5px;
}
.key-individual {
  background-color: #015386;
  color: #e6e6e6;
}
.contenedor-lista-ordenes-admin {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}
.lista-orden-indiviual {
  padding: 5px 12px;
  margin: 6px;
  border: solid 2px #3c3c3c;
  border-radius: 5px;
  transition: 50ms;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}
.lista-orden-indiviual:hover {
  background-color: #015386 !important;
  color: #e6e6e6 !important;
}
.contenedor-keys-lista-ordenes-sticky {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  background-color: #fff;
  margin-top: -122px;
}
.contenedor-keys-lista-ordenes {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  background-color: #fff;
  margin: 2px 0px;
}
.id-individual {
  width: 42px;
}
.nombre-individual {
  width: 100px;
}
.apellido-individual {
  width: 100px;
}
.pais-individual {
  width: 100px;
}
.ciudad-individual {
  width: 100px;
}
.direccion-individual {
  width: 160px;
}
.codigoPostal-individual {
  width: 130px;
}
.telefono-individual {
  width: 110px;
}
.tipoEnvio-individual {
  width: 100px;
}
.estado-individual {
  width: 118px;
  color: #e6e6e6;
}
.createdAt-individual {
  width: 100px;
}
.updatedAt-individual {
  width: 110px;
}
.usuarioId-individual {
  width: 100px;
}
.lineaDeOrdens-individual {
  width: 150px;
}
.productos-individual {
  width: 150px;
}
.estado-En {
  background-color: #015386 !important;
}
.estado-Rechazada {
  background-color: rgb(207, 0, 0) !important;
}
.estado-Rechazada:hover {
  background-color: red !important;
}
.estado-Completada {
  background-color: green !important;
}
.estado-Completada:hover {
  background-color: rgb(0, 216, 0) !important;
}
