.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  background: #e6e6e6;
  width: 250px;
  height: 300px;
  border-radius: 55px;
  margin: 3em;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25);
  transition: 500ms;
}
.boton .titulo {
  margin: auto;
}
.botoncontainer {
  position: absolute;
  margin-top: 220px;
  margin-left: 180px;
  height: 40px;
  width: 60px;
  z-index: 110;
}
.card h2 {
  color: #d30208;
  text-align: left;
  padding-left: 12px;
  margin-top: -5px;
  line-height: 1.4;
  font-size: 22px;
  font-weight: 1000;
  font-family: "Ubuntu", sans-serif;
  transition: all ease-in 100ms;
  background-color: #e6e6e6;
  width: 180px;
  box-shadow: 3px 3px 15px #015386;
  border-radius: 4px;
}

.card p,
.card h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  margin-top: 100px;
}

.card h5 {
  margin-bottom: 10px;
  text-align: right;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.card-body {
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #015386;
  margin-top: 50px;
  width: 70%;
  height: 250px;
  text-align: left;
  box-shadow: 10px 10px 30px #3c3c3c;
}
.img {
  position: absolute;
  left: -155px;
  rotate: -7deg;
  top: 2px;
  max-width: 135%;
  filter: saturate(150%) contrast(120%) hue-rotate(10deg)
    drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.5));
  z-index: 100;
}
.decorativa {
  background-color: #d30208;
  height: 200px;
  width: 200px;
  rotate: 57deg;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  align-self: flex-end;
  box-shadow: 10px 10px 55px #015386;
  z-index: 1;
}
.carro {
  background-color: #d30208;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  box-shadow: -4px -3px 35px #015386;
  transition: 500ms;
}
.carro:hover {
  scale: 1.1;
}
.precio {
  font-size: small;
  text-align: right;
  color: #e6e6e6;
  font-weight: 300;
  position: absolute;
  margin: 128px 0px 0px 97px;
}
