.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  background: #e6e6e6;
  width: 250px;
  height: 300px;
  border-radius: 55px;
  margin: 50px 70px;
  cursor: pointer;
  border: none !important;
  transition: 500ms;
  opacity: 0;
}

.cerveza_nombre {
  display: block;
  text-align: left;
  padding: 5px 13px;
  margin-top: -5px;
  line-height: 1.4;
  font-size: 22px;
  font-weight: 1000;
  font-family: "Ubuntu", sans-serif;
  transition: all ease-in 100ms;
  background-color: #e6e6e6 !important;
  width: 178px;
  line-height: 95%;
  box-shadow: 0px 3px 35px #000;
  border-radius: 4px;
}

.card p,
.card h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  margin-top: 100px;
}

.card h5 {
  margin-bottom: 10px;
  text-align: right;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.card-body {
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  background-color: #015386;
  margin-top: 50px;
  width: 70%;
  height: 250px;
  text-align: left;
  box-shadow: 10px 10px 30px #3c3c3c;
}
.img {
  position: absolute;
  height: 400px;
  width: 380px;
  object-fit: contain;
  left: -155px;
  opacity: 0;
  rotate: -7deg;
  top: -25px;
  max-width: 135%;
  filter: drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.5));
  z-index: 100;
  scale: 0.9;
}
.decorativa {
  height: 200px;
  width: 200px;
  rotate: 57deg;
  border-radius: 50%;
  margin-right: -10px;
  margin-top: -25px;
  align-self: flex-end;
  box-shadow: 10px 10px 55px #015386;
  z-index: 1;
  opacity: 0;
}
.carro {
  position: absolute;
  margin: 265px 0px 0px 185px;
  background-color: #015386;
  padding: 10px 22px;
  border: none;
  border-radius: 4px;
  box-shadow: -7px -5px 15px #015386;
  transition: 500ms;
  font-size: 40px;
  z-index: 500;
  color: #e6e6e6;
}
.carro:hover {
  padding: 4px 35px;
  font-size: 50px;
  color: #fff;
  background-color: #0074b1;
  box-shadow: -7px -5px 15px #0074b1;
}
.precio {
  font-size: small;
  text-align: right;
  color: #e6e6e6;
  font-weight: 300;
  position: absolute;
  margin: 128px 0px 0px 97px;
}
.Heiniken {
  background-color: #006900;
  color: #006900;
}
.Budwiser {
  background-color: #e40613;
  color: #e40613;
}
.Ballast_Point {
  background-color: #ec6922;
  color: #ec6922;
}
.Corona {
  background-color: #fdd300;
  color: #fdd300;
}
.Stella_Artois {
  background-color: #ff0000;
  color: #ff0000;
}
