.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  background: rgb(223, 223, 224);
  width: 250px;
  height: 400px;
  border-radius: 25px;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25);
  transition: all ease 200ms;
}
.card:hover {
  transform: scale(1.03);
}

.boton .titulo {
  margin: auto;
}
.card img {
  height: 250px;
  object-fit: contain;
}
.carousel {
  display: inline-block;
}
.botoncontainer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 1em 1.5em;
}
.card h2 {
  color: #fff;
  text-align: center;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 200;
  font-family: "Ubuntu", sans-serif;
  transition: all ease-in 100ms;
}

.card p,
.card h3 {
  color: #fff;
  font-size: medium;
  text-align: left;
}

.card h5 {
  color: #fff;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.card-body {
  border-radius: 0px 0px 5px 5px;
  background-color: #015386;
  width: 100%;
  text-align: left;
  box-shadow: 3px -43px 75px -59px rgba(0, 0, 0, 0.56);
}
