.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222;
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  background: rgb(223, 223, 224);
  width: 24em;
  border-radius: 2em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  display: inline-block;
  position: relative;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.boton {
  display: flex;
  justify-content: space-between;
}
.boton .titulo {
  margin: auto;
}
.card img {
  height: 300px;
  object-fit: contain;
}
.carousel {
  display: inline-block;
  position: relative;
}
.card .botoncontainer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 1em 1.5em;
}
.card h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.card p {
  color: rgb(90, 90, 90);
  text-align: center;
}

.card h5 {
  color: rgb(48, 46, 46);
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: auto;
  text-transform: uppercase;
}

.card-body {
  padding: 1.2em;
  background-color: #e5c785ad;
  text-align: center;
  -webkit-box-shadow: 3px -43px 75px -59px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px -43px 75px -59px rgba(0, 0, 0, 0.56);
  box-shadow: 3px -43px 75px -59px rgba(0, 0, 0, 0.56);
}
