.ads{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.slide{
    max-height: 300px;
}
.item{
    margin-right: auto !important;
    margin-left: auto !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    
}