.ads {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
}
.slide {
  max-height: 300px;
}
.item {
  height: 300px;
  margin-right: auto !important;
  margin-left: auto !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
}
