
/* -------------FORMULARIO PRODUCTO---------- */

.formulario-producto-crud{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    top: 10px;
    background: #fff;
    transition: .4s all;
    z-index: 100;
    top: 10px;
    margin-top: -150px;
    display: flex; 
}
.activo{display: block;}
#cerrar{cursor: pointer;}
.formulario-producto-crud>input, .formulario-producto-crud>textarea,select{
    border: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-bottom: 8px;
    font-size: 15px;
}
.formulario-producto-crud>select{
    padding: 5px 8px;
    cursor: pointer;
}
.formulario-producto-crud>textarea{
    resize: none;
    max-height: 60px;
    min-height: 60px;
}
.formulario-producto-crud>textarea::-webkit-scrollbar{display: none;}
.formulario-producto-crud>.btn-gproducto{
    width: 140px;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 3px;
    transition: .4s all;
    border:1px solid  #fff;
    background-color:#015386;
}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
.error-producto,.exito-producto{
    background-color: #d30208;
    border-radius: 3px;
    padding: 2px;
}
.exito-producto{background-color: green;display: none;border-radius: 2px;}
.cat-btn{
    background-color:#015386;
    padding: 2px 4px;
    border-radius: 2px;
    transition: .4s all;
}
/* -------------MEDIAQUERIES---------- */
@media(max-width:768px){
    .titulo-lista{font-size: 20px;}
    .btn-nuevo{font-size: 14px;padding: 4px 10px;}
    .btn-buscar{font-size: 14px;}
    .fa-search{font-size: 12px;}
    input{
        width: 110px;
        padding: 2 8px;
        font-size: 12px;
        height: 22px;
    }
    .titulo-pro,.grupo-header>input,.productos,.fas,.titulos{font-size: 14px;}
    .general{border: none;}
}

/* -------------SPINNER--------- */

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: .4s all;
    display: none;
    
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color:#015386;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }