.titulo-deseos{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 7px;
     margin-bottom: 15px;
}
.btn-deseos{
    border: none;
    padding: 10px 20px;
    background-color: red;
    font-weight: 900;
    color: #fff;
    font-size: 16px;
    background: #015386;
    border-radius: 2px;
    transition: .4s all;
}
.btn-deseos:focus{
   outline: none;
}
.btn-deseos:active{
    transform: scale(.96);
 }