.general{
    margin-top: 75px;
}
.titulos{
    font-size: 14px; 
}

.titulo-lista {
    font-size: 20px;
}
.encabezado{
    font-size: 15px;
}
.categorias-h{
    font-size: 14px;
}
.relleno{
    width: 100%;
    height: 400px;
}
