.categorias {
  display: flex;
  flex-direction: column;
  width: 99vw;
}
.categoriasFilter {
  display: flex;
  width: 99vw;
}
.listaProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 4vw;
  width: 90vw;
}
.botonFiltro,
.checkboxex,
.x,
.check {
  margin: 5px;
  padding: 5px 12px;
  background-color: #fff;
  border: solid 2px #e6e6e6;
  border-radius: 5px;
  color: #015386 !important;
  transition: 250ms;
}
.botonFiltro:hover,
.checkboxex:hover,
.x:hover {
  cursor: pointer;
  color: #0074b1 !important;
  background-color: #f0f0ff;
}
